<article class="w-full h-[500px] overflow-hidden flex flex-col items-center justify-center relative md:px-20 xs:px-0">
    <header class="text-center absolute top-0 z-10">
      <span class="block font-bold text-[36px] sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px]">Passionate programming</span>
      <span class="block font-bold text-[36px] sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px]">Crafting digital dreams</span>
      <span class="block font-bold text-[36px] sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px]">Creative code DodSoul</span>
    </header>
    <img src="/src/assets/images/profile.png" alt="#" class="object-cover relative h-[900px] lg:-bottom-[50%] lg:w-[800px] md:w-[1000px] md:-bottom-[40%] xxs:-bottom-[30%] xs:w-[1500px] xs:-bottom-[10%]" />
  </article>
  